/* about section style start */
body,h1,h2,h3,h4,h5,h6,span,div,section,p,container,a,li{
    font-family: 'Raleway', sans-serif;

}
#container {
  color: whitesmoke;
  /* background:url("../images/slide.jpg"); */
  background:linear-gradient(0deg,rgba(255,0,150,0.3),rgba(255,0,150,0.3)),url("../images/slide1.jpg");
  background-size:cover;
  width: 100%;
  height: 260px;
  background-repeat: no-repeat;
  background-size: cover;
 
  
}
/* mobile-menu start */
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: white;
}

/* Style the active link (or home/logo) */

/* mobile-menu end */


/* navbar style start */
.active-nav{
        background:#73b909;
    color: #fff !important;
}
.active-nav > a{
        
    color: #fff !important;
}
/* about section style end */
.seemore span a{
    color:#73b909; 
}

/* navbar style start */
.navbar {

  background-color:white;;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1;
}
.navbar {
  min-height: 70px;
}

.navbar a {
  float: left;
  display: block;

  text-align: center;
  padding: 14px 16px;
  margin:0 4px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.navbar li a:hover {
  background:#73b909;
  color:#fff!important;
}

.navheight{
  height: 49px;
}
/* navbar style end */

/* card item style start*/
.card-fix-height{
  height: 400px;
}
/* card item style end */
#content {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


/* contact page style start */
body {
    font-family: 'Raleway', sans-serif;
background-color:#fbfbfb; }
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color:#73b909;
  color: white;
  padding: 12px 13px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #73b909;
}

.fixed contact {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.style{
      max-width: 645px;
    margin: 61px auto;
}
/* contact style End */

/* registration page style or create account style */
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}
.margin{
    margin-top: 45px;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-google{
    background-color: rgb(236, 66, 66);
    color: #fff;
}
/* blog page style start*/
.blogShort{ border-bottom:1px solid #ddd;}
.add{background: #333; padding: 10%; height: 300px;}

.nav-sidebar { 
    width: 100%;
    padding: 8px 0; 
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}
.nav-sidebar .active a { 
    cursor: default;
    background-color:#73b909; 
    color: #fff; 
}
.nav-sidebar .active a:hover {
    background-color: #73b909;   
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

.btn-blog {
    color: #ffffff;
    background-color: #73b909;
    border-color: #73b909;
    border-radius:0;
    margin-bottom:10px
}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white;
    background-color:#73b909;
    border-color: #73b909;
}
 .tiyaColor{color:#73b909;}
 .darktiyaColor{color: rgb(70, 65, 119);}

 .margin10{margin-bottom:10px; margin-right:10px;};
/* blog page style end*/

/* post item section style start */
.cc-selector input{
    margin-top:20px;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.found{background-image:url(../images/found.png);}
.lost{background-image:url(../images/lost.png);}


.cc-selector input:active +.drinkcard-cc{opacity: 1;}
.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:236px;height:180px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.2) grayscale(.7) opacity(1);
       -moz-filter: brightness(1.2) grayscale(.7) opacity(1);
            filter: brightness(1.2) grayscale(.7) opacity(1);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.7) opacity(1);
       -moz-filter: brightness(1.2) grayscale(.7) opacity(1);
            filter: brightness(1.2) grayscale(.7) opacity(1);
}

/* Extras */
/* a:visited{color:#888} */
 a{color:black;text-decoration:none;}
/* p{margin-bottom:.3em;}  */
/* post item section style end */

/* profile page style start */
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
/* profile page style end */

/* detail section style */
.block{
  border: none;
}
/* comment section style start */
.detailBox {
    width:100%;
    border:1px solid #bbb;
   
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}
/* comment section style end */

/* footer style start*/



.page-footer {
 
  background-color:white;
  border-top: solid 4px #73b909; ;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
  
  
 }
 
.icon-bar a:hover {
  background-color:blue;
}

.facebook {
  background: #3B5998;
  color: white;
   padding: 10px 10px
}

.twitter {
  background: #55ACEE;
  color: white;
   padding: 10px 10px
}

.google {
  background: #dd4b39;
  color: white;
   padding: 10px 10px
}

.linkedin {
  background: #007bb5;
  color: white;
   padding: 10px 10px
  
}
.dribbble{
  background: #dd4b39;
  padding: 10px 10px;
}
/* post-page style start */
.margin{
        margin: -34px 0 0 15px;
}
.post-height{
        margin-left: 25px;
            margin-top: 20px;
}

/* post-page style end */

/* border */

.beforelogin{
    display: none;
}
.afterlogin{
    display: none;
}

